$green: #0f7300;
$red: #9c0303;
$blue: #052093;
// $firstFontColor: white;
// $secondFontColor: grey;
// $firstBackgroundColor: darkslategrey;
// $secondBackgroundColor: grey;
$firstFontColor: #ffe998;
$secondFontColor: grey;
$firstBackgroundColor: #57370d;
$secondBackgroundColor: #423e3e;
@mixin live {
    color: $red;
    text-shadow: 0px 0px 1px black;
    font-weight: 700;
}
