$green: #0f7300;
$red: #9c0303;
$blue: #052093;
// $firstFontColor: white;
// $secondFontColor: grey;
// $firstBackgroundColor: darkslategrey;
// $secondBackgroundColor: grey;
$firstFontColor: #FFE998;
$secondFontColor: grey;
$firstBackgroundColor: #57370D;
$secondBackgroundColor: #423E3E;