@import "_constants.scss";

$header: 56px;

.App {
    background-color: $firstBackgroundColor;
    min-height: 100vh;
    nav {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10;
    }
    main {
        padding: 5px;
        padding-top: $header;
    }
}

a {
    color: $firstFontColor;
}

.btns-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.3);
    &.btn-green {
        background-color: $green;
    }
    &.btn-red {
        background-color: $red;
    }
    &.btn-blue {
        background-color: $blue;
    }
    &.btn-icon {
        padding: 0px 5px;
    }
}

.brand-logo {
    position: relative;
    left: 0;
    transform: translate(0px, 0px);
}

.title {
    color: $firstFontColor;
    text-align: center;
}

.dashboard-container {
    .dashboard-nav {
        display: flex;
        justify-content: space-evenly;
    }
}

.tournaments-list {
    .tournament-card {
        background-color: $secondBackgroundColor;
        color: $firstFontColor;
        text-align: center;
    }
}

.tournament-details {
    > .tournament-description {
        margin: 10px 0px;
        .title {
            font-size: 20px;
        }
        .tournament-date {
            color: $secondFontColor;
            font-size: 15px;
            text-align: center;
        }
    }
    .tournament-dashboard {
        .title {
            font-size: 15px;
        }
        .tournament-stages {
            display: flex;
            flex-direction: column;
            > div {
                margin: 5px 0px;
            }
        }
        .teams-dashboard {
            padding: 5px 0px;
        }
    }
}

.tournament-nav {
    display: flex;
    justify-content: space-around;
    .tournament-nav-btn {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.group-dashboard {
    .btns {
        flex-direction: column;
        .btn {
            margin: 5px 10px;
        }
    }
}

.groups-list {
    display: flex;
    flex-direction: column;
    .group-card {
        background-color: grey;
        padding: 10px 0px;
    }
}

.groups {
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > .btn {
            margin: 5px;
        }
    }
    .group-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        > .group {
            > .group-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                > div {
                    margin: 5px 0px;
                }
            }
        }
        > .btn {
            margin: 5px 0px;
        }
    }
}

.group-table {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    > table {
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
        > tbody {
            background-color: rgba(0, 0, 0, 0.1);
            .group-table-promoted {
                background-color: rgba(0, 255, 0, 0.15);
            }
            .group-table-live {
                color: $red;
            }
        }
    }
}

.match {
    margin: 2px 0px;
    .match-teams {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        > p:nth-child(1) {
            grid-column: 1/4;
            justify-content: flex-end;
            text-align: right;
        }
        > p:nth-child(2) {
            grid-column: 4/5;
        }
        > p:nth-child(3) {
            grid-column: 5/8;
            justify-content: flex-start;
        }
        > p {
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .match-result {
        grid-column: 11/13;
        color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > .score {
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 2px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition-property: color, background-color;
            transition-duration: 0.3s;
        }
        &.match-result-not-started {
            color: grey;
        }
    }
    &.match-live {
        .match-result {
            > .score {
                background-color: $red;
                color: black;
            }
        }
    }
}

.matches-list {
    width: 100%;
    .match {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin: 2px 0px;
        .match-teams {
            grid-column: 1/11;
        }
    }
}

.match-details {
    display: flex;
    flex-direction: column;
    .match {
        .match-teams {
            font-size: 20px;
        }
        .match-result {
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .match-dashboard {
        display: flex;
        flex-direction: column;
        padding: 5px;
        .score-dashboard {
            padding: 5px;
            margin: 50px 0px;
            display: flex;
            justify-content: space-around;
        }
    }
}

.team-list {
    text-align: center;
    padding: 2px 10px;
    margin: 5px 0px;
    min-width: 100px;
    width: 100%;
    > .team {
        border-top: rgba(255, 255, 255, 0.2) solid 0.1px;
        padding: 2px 0px;
        position: relative;
        display: flex;
        min-height: 50px;
        .team-name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            margin: 0px 10px;
        }
        .team-name-form {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        .btn {
            margin: 0px 1px;
        }
    }
}

.team-add {
    display: flex;
    justify-content: space-evenly;
    > input {
        max-width: 70%;
    }
}
