.App {
  background-color: #323232;
  min-height: 100vh;
  color: #c9c9c9;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.App nav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.App nav .desktop {
  display: none;
}

.App nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.App nav ul i {
  color: #7e6714;
  font-size: 25px;
}

.App nav ul .btn-back {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.App nav ul .btn-back.btn-back-show {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.App main {
  padding-bottom: 5px;
  padding-top: 56px;
}

.splash-screen {
  background-color: #323232;
  color: #c9c9c9;
}

.btns-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px 0px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  margin: 2px;
  height: auto;
  width: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.btn.btn-green {
  color: #18b500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.btn.btn-red {
  color: #9c0303;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.btn.btn-blue {
  color: #001a90;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.btn.btn-icon {
  padding: 0px 5px;
}

.brand-logo {
  position: relative;
  left: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.title {
  color: #7e6714;
  text-align: center;
}

.dashboard-container .dashboard-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#create-tournament {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#create-tournament label {
  color: #7e6714;
}

#create-tournament input {
  color: white;
  text-align: center;
}

#create-tournament .tournament-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.tournaments-list .tournament-card {
  background-color: #423e3e;
  color: #c9c9c9;
  text-align: center;
}

.tournament-details > .tournament-description {
  margin: 10px 0px;
}

.tournament-details > .tournament-description .title {
  font-size: 20px;
}

.tournament-details > .tournament-description .tournament-date {
  color: #c9c9c9;
  font-size: 15px;
  text-align: center;
}

.tournament-details .tournament-dashboard .title {
  font-size: 15px;
}

.tournament-details .tournament-dashboard .tournament-stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tournament-details .tournament-dashboard .tournament-stages > div {
  margin: 5px 0px;
}

.tournament-details .tournament-dashboard .teams-dashboard {
  padding: 5px 0px;
}

.tournament-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tournament-nav .tournament-nav-btn {
  background-color: rgba(0, 0, 0, 0.3);
}

.group-dashboard .btns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group-dashboard .btns .btn {
  margin: 5px 10px;
}

.groups-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.groups-list .group-card {
  background-color: grey;
  padding: 10px 0px;
}

.groups .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groups .btns > .btn {
  margin: 5px;
}

.groups .group-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.groups .group-list > .group > .group-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groups .group-list > .group > .group-content > div {
  margin: 5px 0px;
}

.groups .group-list > .btn {
  margin: 5px 0px;
}

.group-table {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.group-table > table {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 3px;
}

.group-table > table > tbody {
  background-color: rgba(0, 0, 0, 0.1);
}

.group-table > table > tbody .group-table-promoted {
  background-color: rgba(0, 255, 0, 0.15);
}

.group-table > table > tbody .group-table-live {
  color: #9c0303;
  text-shadow: 0px 0px 1px black;
  font-weight: 700;
}

.match-date,
.match-round {
  text-align: center;
  font-size: 10px;
  padding: 0px;
  margin: 0px;
  color: #7e6714;
}

.match-date {
  font-size: 13px;
}

.match .match-teams {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  color: #c9c9c9;
}

.match .match-teams > p:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.match .match-teams > p:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.match .match-teams > p:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.match .match-teams > p {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match .match-result {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match .match-result > .score {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.match .match-result.match-result-not-started {
  color: grey;
}

.match.match-live .match-result > .score {
  background-color: #9c0303;
  color: black;
}

.matches-list {
  width: 100%;
}

.matches-list .match {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 3px;
}

.matches-list .match .match-teams {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
}

.matches-list .match .match-teams {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.matches-list .match .match-teams > p:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.matches-list .match .match-teams > p:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.matches-list .match .match-teams > p:nth-child(3) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.matches-list .match .match-teams > p {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.matches-list .match .match-result {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.matches-list .match .match-result > .score {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.matches-list .match .match-result.match-result-not-started {
  color: grey;
}

.matches-list .match.match-live .match-teams {
  color: #9c0303;
  text-shadow: 0px 0px 1px black;
  font-weight: 700;
}

.matches-list .match.match-live .match-result > .score {
  background-color: #9c0303;
  color: black;
}

.match-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.match-details .match .match-teams {
  font-size: 20px;
}

.match-details .match .match-result {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.match-details .match-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.match-details .match-dashboard .score-dashboard {
  padding: 5px;
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.match-details .match-dashboard .score-dashboard .btn {
  padding: 0 8px;
}

.team-list {
  text-align: center;
  padding: 2px 10px;
  margin: 5px 0px;
  min-width: 100px;
  width: 100%;
}

.team-list > .team {
  border-top: rgba(255, 255, 255, 0.2) solid 0.1px;
  padding: 2px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
}

.team-list > .team .team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 10px;
}

.team-list > .team .team-name-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-list > .team .btn {
  margin: 0px 1px;
}

.team-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-add > input {
  max-width: 70%;
}

.bracket-choose-list {
  text-align: center;
}

.bracket-choose-list .bracket-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 3px;
}

.bracket-choose-list .bracket-choose .bracket-choose-order {
  background-color: rgba(0, 0, 0, 0.3);
  width: 25px;
  text-align: center;
  border-radius: 2px;
}

.bracket-choose-list .bracket-choose .bracket-choose-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px;
  padding: 0px;
}

.bracket-choose-list .bracket-choose .bracket-choose-children {
  width: 100%;
}

.bracket-choose-list .bracket-choose .bracket-choose-children .bracket-choose-children-places {
  padding: 5px 0px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 2px;
  border-radius: 2px;
}

.bracket-choose-list .bracket-choose .bracket-choose-children .bracket-choose-children-places.promoted {
  background-color: #18b500;
}
/*# sourceMappingURL=style.css.map */